html, body{
    height: 100%;  
}

body {
  background-color: rgba(0, 0, 0, 0.1);
  text-align:center;
  font-family: Georgia, serif;
  border: 1px solid transparent;
  margin: 0px;
}
#container {
  width: 75%;
  height: 78.57%;
  //border: 1px solid blue;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1696814543786-1597bc1e2ac7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTk4NzY2NzJ8&ixlib=rb-4.0.3&q=85");
  background-size: 100%;
  background-size: 100% 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.eye {
  cursor: pointer;
  position: absolute;
  width: 4%;
  opacity: 0.65;
}

#eye1, #popup1 {
  top: 35%;
  left: 30%;
}

#eye2, #popup2 {
  top: 25%;
  left: 85%;
}

#eye3, #popup3 {
  top: 70%;
  left: 60%;
}

#eye4, #popup4 {
  top: 55%;
  left: 10%;
}

.popup-container {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.go-back-button {
  cursor: pointer;
  display: block;
  margin-top: 10px;
  margin: 0 auto; /* Center the button horizontally */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}