html, body{
  text-align:center;
  height: 100%;
}
#container {
  width: 75%;
  height: 78.57%;
  //border: 1px solid blue;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1696814543786-1597bc1e2ac7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTk4NzY2NzJ8&ixlib=rb-4.0.3&q=85");
  background-size: 100%;
  background-size: 100% 100%;
}

#map {
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 5%;
}

.eye {
  cursor: pointer;
  position: absolute;
  width: 50px;
  opacity: 0.75;
}

#eye1, #popup1 {
  top: 35%;
  left: 30%;
}

#eye2, #popup2 {
  top: 25%;
  left: 85%;
}

#eye3, #popup3 {
  top: 70%;
  left: 60%;
}

#eye4, #popup4 {
  top: 55%;
  left: 10%;
}

.popup-container {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  max-width: 80%;
}

.go-back-button {
  cursor: pointer;
  display: block;
  margin-top: 10px;
  margin: 0 auto; /* Center the button horizontally */
}